@font-face {
    font-family: 'icons';
    src: url('../fonts/icons/icons.eot');
    src: url('../fonts/icons/icons.eot') format('embedded-opentype'),
        url('../fonts/icons/icons.ttf') format('truetype'),
        url('../fonts/icons/icons.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

%ic {
    font-family: 'icons' !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

[class^="_icon-"],
[class*=" _icon-"] {
    &::before {
        @extend %ic;
        display: block;
    }
}

._icon-mail:before {
    content: "\e908";
}

._icon-arrow-bottom:before {
    content: "\e900";
}

._icon-arrow-left:before {
    content: "\e901";
}

._icon-cart:before {
    content: "\e902";
}

._icon-clock:before {
    content: "\e903";
}

._icon-compare:before {
    content: "\e904";
}

._icon-favorite:before {
    content: "\e905";
}

._icon-location:before {
    content: "\e906";
}

._icon-logo:before {
    content: "\e907";
}

._icon-phone:before {
    content: "\e909";
}

._icon-rub:before {
    content: "\e90a";
}

._icon-search:before {
    content: "\e90b";
}

._icon-spoiler-arrow:before {
    content: "\e90c";
}

._icon-user:before {
    content: "\e90d";
}