$browserContext: 16; // Default font size

$fontFamily: "Montserrat";
$mainColor: #000;
$mainDarkColor: #141414;
$mainOrangeColor: #e8aa31;

/* =========== Минимальная ширина страницы =========== */
$minWidth: 320;
/* =========== Максимальная ширина полотна (макета) =========== */
$maxWidth: 1920;
/* =========== Ширина ограничевающего контейнера (макета) =========== */
$maxWidthContainer: 1590;
/* =========== Отступы контейнера (15px - слева, справа) =========== */
$containerPadding: 30;

$responsiveType: 1;
$containerWidth: $maxWidthContainer+$containerPadding;

/* ============ Breakpoints ============== */
$breakpoints: (xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px)